@charset "UTF-8";
/* _fonts.scss */
@font-face {
  font-family: 'Rockwell';
  src: url("/fonts/Rockwell.eot?") format("eot"), url("/fonts/Rockwell.woff") format("woff"), url("/fonts/Rockwell.ttf") format("truetype"), url("/fonts/Rockwell.svg#Rockwell") format("svg");
}

/* _common.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #333333;
}

a {
  color: #017ac2;
}

a.button {
  display: inline-block;
  text-decoration: none;
  height: 26px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  border-radius: 3.25px;
  box-sizing: border-box;
  background: #f0f0f0;
  border: 1px solid #e1e1e1;
  outline: none;
  padding-left: 6.5px;
  padding-right: 6.5px;
  text-align: center;
  font-family: Rockwell, sans-serif;
  color: #017ac2;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #f0f0f0 100%);
  cursor: pointer;
}

a.button.primary {
  color: #FFFFFF;
  border-style: none;
  background: -webkit-linear-gradient(top, #34adf5 0%, #017ac2 100%);
  background: linear-gradient(to bottom, #34adf5 0%, #017ac2 100%);
}

h1, h2, h3 {
  font-family: Rockwell, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 22.1px;
}

h2 {
  font-size: 19.5px;
}

h3 {
  font-size: 13px;
}

input, select {
  border-style: none;
  height: 26px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  border-radius: 3.25px;
  box-sizing: border-box;
  background: #f0f0f0;
  border: 1px solid #e1e1e1;
  outline: none;
}

input[type="text"] {
  padding-left: 8.6666666667px;
  padding-right: 8.6666666667px;
}

input[type="button"] {
  padding-left: 6.5px;
  padding-right: 6.5px;
  text-align: center;
  font-family: Rockwell, sans-serif;
  color: #017ac2;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #f0f0f0 100%);
  cursor: pointer;
}

input[type="submit"] {
  padding-left: 6.5px;
  padding-right: 6.5px;
  text-align: center;
  font-family: Rockwell, sans-serif;
  color: #017ac2;
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #f0f0f0 100%);
  cursor: pointer;
}

label {
  cursor: pointer;
}

/* _header.scss */
.header {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
}

.header:after {
  content: "";
  display: block;
  clear: both;
}

.header .menu.user {
  line-height: 26px;
  margin: 6.5px;
}

.header .menu.user:after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 920px) {
  .header .menu.user {
    float: right;
    text-align: right;
  }
}

.header .menu.user .search.quick {
  position: relative;
  float: right;
}

@media (min-width: 920px) {
  .header .menu.user .search.quick {
    float: none;
  }
}

.header .menu.user .search.quick:before {
  content: "";
  display: inline-block;
  margin-right: 3.25px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
}

.header .menu.user .search.quick:before {
  position: absolute;
  right: 5px;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background-image: url("/img/icons/search.png");
}

.header .menu.user .search.quick input[type="text"] {
  padding-right: 30px;
  border-radius: 13px;
}

.header .menu.main {
  clear: both;
}

@media (min-width: 920px) {
  .header .menu.main {
    float: left;
    width: 65%;
    margin-top: 19.5px;
    clear: none;
  }
}

.header .menu.main:after {
  content: "";
  display: block;
  clear: both;
}

.header .menu.main .item {
  float: left;
  width: 25%;
  height: 32.5px;
  line-height: 32.5px;
  text-align: center;
  text-decoration: none;
  font-family: Rockwell, sans-serif;
  font-size: 15.6px;
  font-weight: bold;
  color: #FFFFFF;
}

@media (min-width: 920px) {
  .header .menu.main .item {
    border-radius: 3.25px;
    float: left;
    width: 23.5%;
    margin-right: 2%;
  }
  .header .menu.main .item:last-child {
    margin-right: 0;
  }
}

.header .menu.main .item:before {
  content: "";
  display: inline-block;
  margin-right: 3.25px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
}

.header .menu.main .item:before {
  width: 30px;
  height: 20px;
  vertical-align: text-bottom;
}

.header .menu.main .item.one {
  background-color: #2391d3;
}

.header .menu.main .item.one:before {
  background-image: url("/img/icons/one.png");
}

.header .menu.main .item.two {
  background-color: #00ac51;
}

.header .menu.main .item.two:before {
  background-image: url("/img/icons/two.png");
}

.header .menu.main .item.three {
  background-color: #bcd631;
}

.header .menu.main .item.three:before {
  background-image: url("/img/icons/three.png");
}

.header .menu.main .item.four {
  background-color: #ee4a9a;
}

.header .menu.main .item.four:before {
  background-image: url("/img/icons/four.png");
}

/* _gallery.scss */
.gallery {
  background-color: #DDD;
}

.gallery .carousel {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.gallery .carousel img {
  display: block;
  width: 100%;
}

.gallery .wrapper {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 920px) {
  .gallery .wrapper {
    position: relative;
  }
}

.gallery .wrapper .promo {
  position: relative;
  padding: 9.1px;
  background-color: #FFFFFF;
}

@media (min-width: 920px) {
  .gallery .wrapper .promo {
    position: absolute;
    left: 0;
    bottom: 13px;
    z-index: 1;
  }
}

.gallery .wrapper .promo:after {
  content: "";
  display: block;
  clear: both;
}

.gallery .wrapper .promo h1 {
  margin-top: -9.1px;
  margin-left: -9.1px;
  margin-right: -9.1px;
  margin-bottom: 9.1px;
  padding-left: 9.1px;
  padding-right: 9.1px;
  padding-top: 3.9px;
  padding-bottom: 3.9px;
  color: #FFFFFF;
  background-color: #34adf5;
}

.gallery .wrapper .promo p {
  line-height: normal;
  font-family: Rockwell, sans-serif;
  font-size: 19.5px;
}

.gallery .wrapper .promo .button {
  position: absolute;
  bottom: 9.1px;
  right: 9.1px;
}

/* _search_form.scss */
.search.advanced {
  color: #FFFFFF;
  box-sizing: border-box;
}

.search.advanced .wrapper {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
}

.search.advanced .wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.search.advanced .category {
  padding: 9.1px;
  font-family: Rockwell, sans-serif;
  font-size: 14.3px;
  background-color: #0069b1;
}

.search.advanced .category input[type="radio"] {
  display: none;
}

.search.advanced .category input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  margin-right: 3.25px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
}

.search.advanced .category input[type="radio"] + label:before {
  width: 19px;
  height: 19px;
  background-image: url("/img/icons/radio.png");
}

.search.advanced .category input[type="radio"]:checked + label:before {
  background-image: url("/img/icons/radio_active.png");
}

.search.advanced .category label {
  display: inline-block;
  margin-right: 5px;
}

.search.advanced .category .heading {
  display: inline-block;
}

@media (max-width: 920px) {
  .search.advanced .category .heading {
    display: block;
  }
}

.search.advanced .main {
  padding: 9.1px;
  background: -webkit-linear-gradient(top, #017ac2 0%, #34adf5 100%);
  background: linear-gradient(to bottom, #017ac2 0%, #34adf5 100%);
}

@media (max-width: 480px) {
  .search.advanced .main .form_item,
  .search.advanced .main input[type="submit"] {
    float: left;
    width: 49%;
    margin-right: 2%;
  }
  .search.advanced .main .form_item:nth-child(2n),
  .search.advanced .main input[type="submit"]:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 480px) and (max-width: 920px) {
  .search.advanced .main .form_item,
  .search.advanced .main input[type="submit"] {
    float: left;
    width: 19.2%;
    margin-right: 1%;
  }
  .search.advanced .main .form_item:nth-child(5n),
  .search.advanced .main input[type="submit"]:nth-child(5n) {
    margin-right: 0;
  }
}

@media (min-width: 920px) {
  .search.advanced .main .form_item,
  .search.advanced .main input[type="submit"] {
    float: left;
    width: 16%;
    margin-right: 0.8%;
  }
  .search.advanced .main .form_item:nth-child(6n),
  .search.advanced .main input[type="submit"]:nth-child(6n) {
    margin-right: 0;
  }
}

.search.advanced .main .form_item input, .search.advanced .main .form_item select {
  width: 100%;
}

.search.advanced .main .form_item.datepicker {
  position: relative;
}

.search.advanced .main .form_item.datepicker:before {
  content: "";
  display: inline-block;
  margin-right: 3.25px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
}

.search.advanced .main .form_item.datepicker input[type="text"] {
  padding-right: 30px;
}

.search.advanced .main .form_item.datepicker:before {
  position: absolute;
  right: 0;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background-image: url("/img/icons/calendar.png");
}

@media (max-width: 480px) {
  .search.advanced .main input[type="submit"] {
    margin-top: 19.5px;
  }
}

@media (min-width: 480px) and (max-width: 920px) {
  .search.advanced .main input[type="submit"] {
    float: right;
    margin-top: 9.1px;
    margin-right: 0;
  }
}

@media (min-width: 920px) {
  .search.advanced .main input[type="submit"] {
    margin-top: 19.5px;
  }
}

/* _content.scss */
.content {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
}

.content section:after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 920px) {
  .content section {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.content article {
  margin-top: 13px;
  padding: 13px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.content article header {
  margin-top: -13px;
  margin-left: -13px;
  margin-right: -13px;
}

.content article header h2 {
  line-height: 1;
  margin: 13px;
}

.content article .thumbnail {
  display: block;
  width: 100%;
}

.content article p {
  margin-bottom: 6.5px;
}

.content .widgets article {
  min-height: 312px;
}

@media (min-width: 480px) and (max-width: 920px) {
  .content .widgets article {
    float: left;
    width: 49%;
    margin-right: 2%;
  }
  .content .widgets article:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 920px) {
  .content .widgets article {
    float: left;
    width: 23.5%;
    margin-right: 2%;
  }
  .content .widgets article:last-child {
    margin-right: 0;
  }
}

.content .widgets article .newsletter {
  margin-bottom: 6.5px;
}

.content .widgets article .newsletter:after {
  content: "";
  display: block;
  clear: both;
}

.content .widgets article .newsletter input {
  float: left;
}

.content .widgets article .newsletter input[type="text"] {
  width: 64%;
  margin-right: 2%;
}

.content .widgets article .newsletter input[type="submit"] {
  width: 34%;
}

.content .media {
  margin-top: 13px;
}

@media (min-width: 920px) {
  .content .media .video {
    float: left;
  }
}

@media (max-width: 920px) {
  .content .media .video {
    position: relative;
    height: 0;
    margin-bottom: 13px;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
  }
  .content .media .video iframe, .content .media .video object, .content .media .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.content .media .video iframe, .content .media .video object, .content .media .video embed {
  display: block;
}

.content .media .quotation {
  padding-top: 13px;
  padding-left: 52px;
  padding-right: 52px;
}

@media (min-width: 920px) {
  .content .media .quotation {
    position: relative;
    top: 35px;
    overflow: hidden;
  }
}

.content .media .quotation blockquote {
  line-height: normal;
  font-family: Arial, sans-serif;
  font-size: 19.5px;
  font-style: italic;
}

.content .media .quotation blockquote:before, .content .media .quotation blockquote:after {
  display: inline-block;
  height: 39px;
  width: 39px;
  line-height: 91px;
  text-indent: -6.5px;
  font-size: 104px;
  font-style: italic;
  color: #017ac2;
  overflow: hidden;
}

.content .media .quotation blockquote:before {
  content: "“";
  vertical-align: text-bottom;
  margin-left: -43px;
  margin-top: -26px;
}

.content .media .quotation blockquote:after {
  content: "”";
  vertical-align: text-top;
  margin-right: -43px;
  margin-bottom: -26px;
}

.content .media .quotation p {
  margin: 13px 0;
  font-weight: bold;
}

.content .misc article {
  min-height: 338px;
}

@media (min-width: 480px) {
  .content .misc article {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
  .content .misc article:nth-child(3n) {
    margin-right: 0;
  }
}

.content .misc article.faq .item {
  margin-bottom: 6.5px;
}

.content .misc article.upcoming .item {
  margin-bottom: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #CCCCCC;
}

.content .misc article.upcoming .item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.content .misc article.upcoming .item:after {
  content: "";
  display: block;
  clear: both;
}

.content .misc article.upcoming .item .thumbnail {
  float: left;
  width: 40%;
  margin-right: 10px;
  margin-top: 6.5px;
}

.content .misc article.upcoming .item .content {
  overflow: hidden;
}

.content .misc article.upcoming .item .price {
  font-size: 15.6px;
  font-weight: bold;
}

/* _footer.scss */
.footer {
  margin-top: 13px;
  padding: 100px 0;
  text-align: center;
  color: #FFF;
  background-color: #333;
}
